@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500&display=swap');
html body.activity-stream div#root div div.outer-wrapper.ds-outer-wrapper-breakpoint-override.visible-logo main div.non-collapsible-section div.search-wrapper div.search-inner-wrapper button.search-handoff-button input.fake-editable 
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    font-family: Roboto,Helvetica,sans-serif;
    color: aliceblue;
    
}
.header{
    display: flex;
    /* background-color: aquamarine; */
    height: 15%;
    width: 100%;
    align-items: center;
    justify-content: center;
   
}
.header .nav1{
    display: flex;
    /* background-color: blue; */
    width: 20%;
    height: 100%;
    align-items: center;
    justify-content: center;
    
}
img{
   align-items: center;
   justify-content: center;
    /* background-color: crimson; */
    margin: 3px 7px;
    padding: .4rem;
}
.header .nav2{
    display: flex;
   /* background-color: brown; */
   width: 70%;
   height: 100%;
   align-items: center;
   justify-content: space-around;
}

a{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    
}
a:hover{
    color: green;
    transition: 0.5s ease;
    
}
/*.box{
    background-color: chartreuse;
    height: 100px;
    width: 80px;
    border: 1px solid black;
} */
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 160px;
    background-color: #00a550;
    border-radius: 30px;
    font-size: 1rem;
    border: 1px solid #00A550
}
.arrow-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 28px;
    width: 28px;  
    margin: 7px;
    border-radius: 50px;
}
.arrow-icon i{
    color:  #00a550;
    font-size: 17px;
}
.box i{
    font-size: 23px;
}
.cart-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.cart-icon i{
    font-size: 37px;
}
.cart-notification{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00A550;
    height: 18px;
    width: 18px;
    position: absolute;
    margin: 9px 0px 0px 20px;
    top: 28px;
    border-radius: 50px;
    font-size: 12px;
}
.abc-image{
    display: flex;
    align-items: center;
    height: 700px;
    width: 100%;
   
}
.abc-image img{
    height:90%;
    width: 90%;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2;
}
.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3d444086;
    height: 330px;
    width: 100%;
    flex-direction: column;
    margin-top: 1px;
   
}
.abs-name{
    display: flex;
    height: 70px;
    width: 70%;
    align-items: center;
    justify-content: center;
}
.main-container h2{
    font-family: 'Butler';
    font-weight: 400 ;
    font-size: 34px;
    margin-bottom: 44px;
}
.abc-para{
    display: flex;
    height: 70px;
    width: 85%;
    align-items: center;
    justify-content: center;
}
.click button{
    border: none;
    height: 50px;
    width: 160px;
    border-radius:30px ;
    overflow: hidden;
    color: #ffffff;
    background-color: #01a550;   
    cursor: pointer; 
    margin-top: 30px;
   
}
button:active {
    border: 2px solid rgb(255, 0, 0);
    color: red;
}
button:hover{
    background-color: rgba(0, 102, 63, 0.925)
}
.footer {
    background-color: var(--text-dark);
}
.footer__container {
    display: flex;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    color: var(--secondary-color);
    margin-top: 3rem;
    margin: 1rem;

}
.footer__col{
    margin: 5rem;
}
.footer__col h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;

}
.footer__col h3 span {
    color: var(--primary-color);
}
.footer__col p{
    font-size: 0.8rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: 0.3s;
}
.footer__col p:hover{
    color: green;

}
.footer__col p span{
    font-weight: 600;
}
.footer__col h4{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.footer__bar{
    max-width: var(--max-width);
    margin: auto;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.8rem;
    color: var(--secondary-color);
    border-top: 1px solid var(--text-light);

    
}
.icons{
    color: white;
    size: 100px;
}
.icons:hover {
    color: green;
}
.btnicon{
    border: none;
  width: 160px;
  height: 65px;
    text-align: top;
    justify-content: top;
    align-items: top;
    background-color: rgb(0, 0, 0);
    color: #fff;
    
}
.btnicon:hover {
    
    background-color: rgb(0, 0, 0);
}



    .p2 {
       font-size: 16px;

        
    }
    .icon i{
        font-size: 25px;
        top: 30px;
    }
    .P1{
        align-items: top;
    }

        